.UserPage-Displayer {
  position: absolute;

  top: 1rem;
  right: 1rem;

  padding: 6px 12px;
  gap: 10px;
  border-radius: 90px;

  font-weight: 500;
  color: #77BB69;
  line-height: 24px;
  background: #ffffff80;
}

.UserPage-Avatar {
  position: relative;

  left: 8%;
  top: 0;

  width: 100px;
  height: 100px;
  border-radius: 50%;

  box-shadow: 0 0 0px 8px #77BB6940;
  transform: translateY(-50px);
}

.UserPage-Avatar img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.UserPage-Wait {
  z-index: 10;
  position: absolute;
  display: flex;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  align-items: center;
  justify-content: center;

  background: #000000A0;
  backdrop-filter: blur(18px) saturate(180%);
}