.WaitPage-Displayer {
  position: absolute;

  top: 1rem;
  right: 1rem;

  padding: 6px 12px;
  gap: 10px;
  border-radius: 90px;

  font-weight: 500;
  color: #fff;
  line-height: 24px;
  border: 2px solid #fff;
}

.UserPage-Disconnection {
  position: absolute;

  top: 4rem;
  right: 1rem;

  padding: 6px 12px;
  gap: 10px;
  border-radius: 90px;

  font-weight: 500;
  color: #fff;
  line-height: 24px;
  /* border: 2px solid #fff; */
}

.WaitPage-Header {
  z-index: 1000;
  position: absolute;

  top: 0;
  right: 0;
}

.WaitPage-Main {
  transition: 0.25s;
}

.WaitPage-Main.hidden {
  opacity: 0;
}